.double-slider {
  @extend %clearfix;
  height: 390px;
  margin: 0 0 18px;
  @include response(749) {
    display: inline-block;
  }
  @include response(669) {
    height: auto;
  }
  .big-slider {
    float: left;
    width: 560px;
    margin: 0 26px 0 0;
    @include response(949) {
      margin: 0;
    }
    @include response(929) {
      margin: 0 26px 0 0;
    }
    @include response(695) {
      margin: 0;
    }
    @include response(669) {
      float: none;
    }
    @include response(589) {
      width: 400px;
    }
    @include response(429) {
      width: 290px;
    }
    &__img {
      text-align: center;
      outline: none;
      img {
        outline: none;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .mini-slider {
    float: left;
    width: 80px;
    height: 100%;
    background-color: #f9fafc;
    padding: 28px 10px;
    @include response(669) {
      float: none;
      width: 560px;
      height: 62px;
      padding: 10px 28px;
    }
    @include response(589) {
      width: 400px;
    }
    @include response(429) {
      width: 290px;
    }
    &__img {
      text-align: center;
      margin: 2px 0;
      outline: none;
      img {
        outline: none;
        max-width: 100%;
        height: auto;
      }
    }
    .slick-current.slick-active {
      img {
        border: 1px solid #1486cc;
      }
    }
    .slick-prev,
    .slick-next {
      cursor: pointer;
      position: absolute;
      text-align: center;
      z-index: 2;
      left: 0;
      right: 0;
      width: 100%;
      font-size: 0;
      line-height: 0;
      padding: 0;
      height: 26px;
      background-color: inherit;
      border: none;
      outline: none;
      transition: .3s;
      @include response(669) {
        left: auto;
        right: auto;
        width: 26px;
        height: 100%;
      }
      &:hover {
        background-color: #ccc;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -4px 0 0 -8px;
        display: block;
        @extend %icon-mini-slider_arrow;
        @include response(669) {
          transform: rotate(-90deg);
        }
      }
    }
    .slick-prev {
      top: 0;
      @include response(669) {
        left: 0;
        top: 0;
      }
      &::before {
        transform: rotate(180deg);
        @include response(669) {
          transform: rotate(90deg);
        }
      }
    }
    .slick-next {
      bottom: 0;
      @include response(669) {
        right: 0;
        bottom: 0;
      }
    }
  }
}
