.info-block {
  @extend %clearfix;
  @extend %clear-list;
  font-family: "Open Sans", sans-serif;
  margin: -20px 0 80px -40px;
  @include response(1089) {
    margin: -20px 0 80px -20px;
  }
  &__item {
    float: left;
    max-width: 390px;
    box-sizing: border-box;
    width: 100%;
    @extend %clearfix;
    padding: 0 10px;
    margin: 20px 0 0 40px;
    @include response(1089) {
      max-width: 330px;
      margin: 20px 0 0 20px;
    }
    @include response(949) {
      max-width: 318px;
    }
    @include response(929) {
      max-width: 400px;
    }
    @include response(849) {
      max-width: 350px;
    }
    @include response(749) {
      display: inline-block;
      float: none;
    }
  }
  &__img {
    float: left;
    margin: 0 10px 0 0;
    text-align: center;
    img {
      display: block;
    }
  }
  &__text {
    overflow: hidden;
    padding: 5px 0 0;
    font-size: 14px;
    line-height: 18px;
    a {
      color: #0271c7;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
