<div class="popup feedback">
  <div class="popup__holder">
    <span class="popup__close"></span>
    <div class="popup__title">Обратный звонок</div>
    <div class="popup__subtitle">Напишите Ваш телефон в соответствующее поле и мы Вам перезвоним</div>
    <div class="popup__form-block">
      <form class="popup__form"action="#" method="post" name="feedback">
        <div class="popup__row">
          <label for="name">Ваше имя:</label>
          <input id="name" type="text" name="name" placeholder="Ваше имя">
        </div>
        <div class="popup__row">
          <label for="phone">Ваш номер телефона:</label>
          <input id="phone" type="tel" name="tel" placeholder="Ваш номер телефона">
        </div>
        <div class="popup__btn-holder">
          <button type="submit" class="popup__btn-submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>
